<!DOCTYPE HTML>
<html>
<head>
<meta charset="GBK" />
<title>vueDemo1</title>
<meta name="keywords" content="H5" />
<meta name="description" content="H5" />
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
<meta name="format-detection" content="telephone=no" />

<style type="text/css">
	*{margin:0;padding:0; list-style:none}
</style>
<script type="text/javascript" src="vue.js"></script>
</head>

<body>
<div id="demo">
	<h1>{{msg}}</h1>
	<input v-model="msg"  />
	<ul>
		<li v-for="n in news" v-on:click="reverseMessage">
			{{n}}
		</li>
	</ul>
</div>
</body>
</html>

<script type="text/javascript">
	var vm1 = new Vue({
		el : '#demo',
		data : {
			msg : 'hello world!',
			news : [
				'数据一',
				'数据二',
				'数据三'
			]
		},
		methods : {
			reverseMessage : function(){
				console.log(this);
			}
		}
	});
</script>